

    .contact-wrapper{

        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    

        .contact-link{
            /* display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-evenly;
            height: 20vh; */
        }

     
            
        
    


