

    .contact-wrapper{
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin-top: 150px;
        text-align: center;
       
    }

    

        .contact-link{
            
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            justify-content:center;
            height: 40vh;
            margin-top: 100px;
            
        }

        .contact-link a img{
            width: 80%;
            height: 120px;
            margin: 20px;
            transition: 0.6s ease;
        }

        .contact-link a img:hover{
            width: 75%;
            height: 170px;
        }

        .contact-arrow{
            display: flex;
            justify-content: center;
            height: 20vh;
            margin-top: 20px;
        }

        .contact-message{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            color: white;
            padding-bottom: 50px;

        }

        .contact-message input{
            width: 35vw;
            margin: 10px 0;
            line-height: 30px;
            font-size: 30px;
        }

        .contact-message textarea{
            width: 35vw;
            height: 150px;
            margin: 10px 0;
            font-size: 30px;
        }

        .contact-message button{
            width: 100px;
            height: 40px;
        }

        .contact-footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: rgb(22, 22, 22);
            object-fit:fill;
            background-image:url('C:\web frontend\projekty React\website2023\src\img\hero.jpg'); 
            
        }

        .contact-map{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            color:white;
            font-size: smaller;
        }

        .contact-map a{
            text-decoration: none;
            color: white;
            transition: 0.6s ease;
        }

        .contact-map a:hover{
            font-size: 40px;
            border-bottom: 1px solid white;
        }

     
            
        
    


