.gallery-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top:70px;
    left: 0;
    background-color: rgb(245, 245, 239);
}

img{
    /* object-fit: fill; */
    padding: 10px;
    width: 30vw;
    height: 45vh;
}

.gallery-grid{
    display: flex;
    flex-direction: row;
    width: 70vh;
    height: 100vh;
}

.gallery-row img{
    width: 50vw;
    height: 90vh;
}

.gallery-column{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 100vh;
}