.gallery-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top:100px;
    left: 0;
    background-color: beige;
}

img{
    padding: 10px;
    width: 30vw;
    height: 40vh;
}

.gallery-grid{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 100vh;
}

.gallery-grid img{
    width: 50vw;
    height: 90vh;
}