.price-container{
    position: absolute;
    top:100px;
    left: 0;
    width: 100vw;
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.price-person{
    width: 30vw;
    background-color: rgb(13, 39, 103);
    border-radius: 10px;
    color:white;
}

.price-list-item {
    list-style:inside;
    list-style-type:square;
    color:white;
  
}

.price-btn{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: rgb(13,39,103);
    margin: 10px;
    font-size: 40px;
    transition: 0.6s ease;
}

.price-btn:hover{
    color:white;
    background-color:rgb(13, 39, 103);
    border: 1px solid white;
}

.price-group{
    width: 30vw;
    background-color: rgb(35, 73, 168);
    border-radius: 10px;
    color:white;
}

.price-individual{
    width: 30vw;
    background-color: rgb(99, 132, 215);
    border-radius: 10px;
    color:white;
}

.price-card-info{
    display: flex;
    position: absolute;
    top:90vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    background-color: rgb(37, 41, 71);
    text-align: center;
}

