.price-container{
    position: absolute;
    top:100px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.price-person{
    width: 30vw;
    background-color: red;
}

.price-group{
    width: 30vw;
    background-color: blue;
}

.price-individual{
    width: 30vw;
    background-color: green;
}