.trip-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-around;
    align-items: stretch;
    top: 100px;
    left: 0;
    flex-basis: 200px;
    width: 100vw;
}

.trip-card{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    margin: 20px;
    
   
}

.modal{
  
    width: 100vw;
    height: 100vh;
}

.fa-star:hover{
    color:yellow;
    
}

.trip-galllery{
    display: flex;
    flex-direction: column;
   
    
    
}

.trip-card:nth-child(2n+0){
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    margin: 20px;
    text-align: center;
    background-color: rgb(31, 68, 84);
    color:white;
}

.trip-card img{
    object-fit:cover;
   width: 30vw;
   height: 40vh;
   flex-grow: 1;
   margin: 10px;
}



.trip-info{
    flex-grow: 5;
    justify-content: space-evenly;
    
}

.trip-info h1 {
    font-size: 60px;
    letter-spacing: 10px;
}

