.header-container{
    position: absolute;
    left: 0;
    top:100px;
    width: 100vw;
    height: 100vh;
    /* background-color: brown; */
    /* background-image: url('../img/hero.jpg'); */
  
}



.video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.header-hero{
    display: flex;
    flex-direction: column;
}

.header-hero h1{
   position: absolute;
   top:200px;
   left: 200px;
   color:rgb(255, 255, 255);
   text-shadow: 0  10px 10px rgb(0, 0, 0);
   font-size:80px;

}

button{
    position: absolute;
    top:50%;
    left: 50%;
    margin: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    font-size: 40px;
}


