.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: 40px;
    background-color: black;


}

.navbar-container{
    display: flex;
    margin: 0 20px;
}

.navbar-logo{
    color:white;
    text-decoration: none;
    letter-spacing: 10px;
    margin-left: 20px;
}