.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    font-size: 40px;
    background-color: black;
    height: 100px;
    width: 100vw;
    z-index: 1;

}

.navbar-logo{
    display: flex;
    margin-right: 50vw;
    color:white;
    
}

.navbar-menu{
    background-color: white;
    margin: 0 20px;
}

.navbar-container{
    display: flex;
    margin: 0 20px;
}

.navbar-item{
    color:white;
    text-decoration: none;
    letter-spacing: 5px;
    margin-left: 20px;
}