.trips-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    

}

.trips-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 50vh;
    

}



.trip-item{
  
   border: 2px solid black;
   padding: 10px;
   justify-content: center;

}

.trip-img{
    object-fit: contain;
    width: 30vw;
    height: 30vh;
    
}